fastapi
python-dotenv
uvicorn  # Recommended ASGI server for FastAPI
langchain_community 
pypdf
docx2txt
python-multipart
azure-storage-blob
pypdf
motor #async mongodb driver
langchain_openai
docx2txt
langchain-anthropic
langchain-core
jinja2
reportlab
